body, html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
}

.generation-bar,
.flex {
    display: flex;
}

.margin-right {
    margin-right: 5px;
}

.width {
    max-width: 130px;
}

.text-center {
    text-align: center;
}

.evolve {
    color: rgb(76, 209, 76) !important;
    border-color: rgb(76, 209, 76) !important;
}

.generation-bar {
    justify-content: space-between;
    width: 80%;
}

.generation {
    width: 5px;
    height: 10px;
    background-color: grey;
}